In [25]:
import pandas as pd
import matplotlib.pyplot as plt

data_analyst_jobs = pd.read_csv("data_analyst_jobs.csv")
data_analyst_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41950 entries, 0 to 41949
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   job_title_short        41950 non-null  object
 1   job_title              41950 non-null  object
 2   job_location           41861 non-null  object
 3   job_via                41942 non-null  object
 4   job_schedule_type      40825 non-null  object
 5   job_work_from_home     41950 non-null  bool
 6   search_location        41950 non-null  object
 7   job_posted_date        41950 non-null  object
 8   job_no_degree_mention  41950 non-null  bool
 9   job_health_insurance   41950 non-null  bool
 10  job_country            41950 non-null  object
 11  salary_rate            2383 non-null   object
 12  salary_year_avg        1309 non-null   float64
 13  salary_hour_avg        1051 non-null   float64
 14  company_name           41950 non-null  object
 15  job_skills             35501 non-null  object
 16  job_type_skills        35501 non-null  object
dtypes: bool(3), float64(2), object(12)
memory usage: 4.6+ MB

In [26]:
data_analyst_jobs.isnull().sum()

job_title_short              0
job_title                    0
job_location                89
job_via                      8
job_schedule_type         1125
job_work_from_home           0
search_location              0
job_posted_date              0
job_no_degree_mention        0
job_health_insurance         0
job_country                  0
salary_rate              39567
salary_year_avg          40641
salary_hour_avg          40899
company_name                 0
job_skills                6449
job_type_skills           6449
dtype: int64

In [27]:
data_analyst_jobs = data_analyst_jobs[data_analyst_jobs['job_title'] == 'Data Analyst']
data_analyst_jobs.head()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,NaN,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
1,Data Analyst,Data Analyst,"Warsaw, Poland",via Praca Trabajo.org,Full-time,False,Poland,2023-10-16 13:36:54,False,False,Poland,NaN,NaN,NaN,Glovo,"['sql', 'python', 'r', 'redshift', 'pandas', '...","{'analyst_tools': ['excel', 'looker', 'tableau..."
2,Data Analyst,Data Analyst,"Des Moines, IA",via Trabajo.org,Full-time,False,"Illinois, United States",2023-11-06 13:01:22,False,True,United States,NaN,NaN,NaN,Assuredpartners,NaN,NaN
3,Data Analyst,Data Analyst,Singapore,via BeBee Singapore,Full-time,False,Singapore,2023-12-20 13:15:45,True,False,Singapore,NaN,NaN,NaN,Moovaz,['sql'],{'programming': ['sql']}
4,Data Analyst,Data Analyst,"Tampa, FL",via LinkedIn,Full-time,False,"Florida, United States",2023-01-19 13:19:45,False,False,United States,NaN,NaN,NaN,Citi,"['sql', 'python', 'unix', 'excel', 'jira']","{'analyst_tools': ['excel'], 'async': ['jira']..."

In [28]:
# Define the columns to keep
columns_to_keep = [
    'job_title', 'salary_year_avg', 'job_schedule_type', 'job_country',
    'job_work_from_home', 'search_location', 'job_skills', 'job_no_degree_mention', 'job_posted_date', 'company_name'
]

# Create new data_analyst_jobs with columns to keep
data_analyst_jobs = data_analyst_jobs[columns_to_keep]
print(data_analyst_jobs.columns)

Index(['job_title', 'salary_year_avg', 'job_schedule_type', 'job_country',
       'job_work_from_home', 'search_location', 'job_skills',
       'job_no_degree_mention', 'job_posted_date', 'company_name'],
      dtype='object')

In [29]:
data_analyst_jobs = data_analyst_jobs.rename(columns={
    'salary_year_avg': 'salary_usd',
    'job_schedule_type': 'employment_type',
    'job_country': 'company_location',
    'job_work_from_home': 'is_remote',
    'search_location': 'employee_location',
    'job_no_degree_mention': 'degree_required',
    'job_posted_date': 'posting_date'
})
print(data_analyst_jobs.columns)

Index(['job_title', 'salary_usd', 'employment_type', 'company_location',
       'is_remote', 'employee_location', 'job_skills', 'degree_required',
       'posting_date', 'company_name'],
      dtype='object')

In [30]:
# Drop null values
data_analyst_jobs = data_analyst_jobs.dropna(subset=['salary_usd', 'employment_type', 'job_skills'])
data_analyst_jobs.isnull().sum()

job_title            0
salary_usd           0
employment_type      0
company_location     0
is_remote            0
employee_location    0
job_skills           0
degree_required      0
posting_date         0
company_name         0
dtype: int64

In [31]:
data_analyst_jobs['salary_usd'].head()

73     111175.0
99      70000.0
131    120000.0
157    117500.0
203     77500.0
Name: salary_usd, dtype: float64

In [32]:
# Update salary column to correct format
data_analyst_jobs['salary_usd'] = data_analyst_jobs['salary_usd'].astype(int)
print(data_analyst_jobs['salary_usd'].head())

73     111175
99      70000
131    120000
157    117500
203     77500
Name: salary_usd, dtype: int64

In [33]:
no_degree_jobs = data_analyst_jobs.copy()
no_degree_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1194 entries, 73 to 41925
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   job_title          1194 non-null   object
 1   salary_usd         1194 non-null   int64
 2   employment_type    1194 non-null   object
 3   company_location   1194 non-null   object
 4   is_remote          1194 non-null   bool
 5   employee_location  1194 non-null   object
 6   job_skills         1194 non-null   object
 7   degree_required    1194 non-null   bool
 8   posting_date       1194 non-null   object
 9   company_name       1194 non-null   object
dtypes: bool(2), int64(1), object(7)
memory usage: 86.3+ KB